<div class="row columns">
    <h4><a class="expand-button min" for="#{{listContainer}}">{{title}}</a></h4>
    <div id="{{listContainer}}" class="box">
        {{#each properties as |value key|}}
            <div class="row">
                <div class="column small-12 medium-4 large-4 detailList-key">{{{key}}}:</div>
                <div class="column small-12 medium-8 large-8 detailList-value">
                    {{#replace "_" " "}}
                        {{{value}}}
                    {{/replace}}
                </div>
            </div>
        {{/each}}
    </div>
</div>